body{
background-color:#FBFBFB;
margin:0;
}
img{
width:100%;
height:auto;
}
.galleryi{
width:90%;
height:auto;
}
.top-header{
background-color:#9900CC;
color:#FFFFFF;
padding:1px;
margin-top:-9px;
margin-left:-7px;
margin-right:-7px;
margin-bottom:6px;
}
.top-header li{
list-style-type:none;
display:inline;
padding-right:10px;
}
nav{
float:right;
margin-top:30px;
}
.title h1{
color:#9900CC;
text-transform: uppercase;
font-weight: bold;
font-style: italic;
float:left;
}
.textj{
text-align:justify;
}


nav a{
text-decoration:none;
padding-right:20px;
color:#000;
font-size:20px;
}
.section img{
width:1349px;
margin-top:-6px;
margin-left:-7px;
margin-right:-10px;
}
article{
text-align:center;
}
article h1{
font-size:35px;
}
footer{
background-color:#DEB5E1;
text-align:center;
padding:1px;
margin-right:-8px;
margin-bottom:-8px;
margin-left:-8px;
}
.container{
width:90%;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}
.container-fluid{
width:100%;
}
.row{
margin-left:-15px;
margin-right:-15px;
}
.col{
width:33%;
float:left;
}
.clear{
clear:both;
}
.form{
width:30%;
height:300px;
margin: 0 auto;
padding:15px;
background-color:pink;
}
@media only screen and (min-width: 320px) {
.form{
width:85%;
}
}
@media only screen and (min-width: 500px) {
.form{
width:60%;
}
}
@media only screen and (min-width: 720px) {
.form{
width:50%;
}
}
@media only screen and (min-width: 1024px) {
.form{
width:30%;
}
}

